#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Source Serif 4", Arial, sans-serif;
  
}

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  color:#111111;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
}

.nav {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right:80px;
  gap:10px;
  font-size:0.8rem;
}

.header {
  font-size: 0.5rem;
  color: white;
  margin-left:80px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  position: relative;
  gap:10px;
  margin-left: 50px;
}

.search-bar input {
  padding-left: 40px;
  width: 100%;
  height: 40px; 
  border: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  font-size: 16px;
}

.search-bar input::placeholder {
  padding-left: 20px;
  color: #999;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  margin-right:15px;
  transform: translateY(-50%);
  color: #999;
}

.nav-home, .nav-newPost {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  padding: 0 10px;
  cursor: pointer;
}

.nav-home:hover, .nav-newPost:hover {
  background-color: #f1f1f1;
}

.postPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 1200px;
  background-color: #FFFFFF;
  border: solid 1px #f1f1f1;
  border-radius: 15px;
  padding: 20px;
}

/* Create Post*/
.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 800px;
  background-color: #FFFFFF;
  border: solid 1px #f1f1f1;
  border-radius: 15px;
}

.button {
  width: 30%;
  min-width: 100px;
  border-radius: 15px;
  background-color: black;
  padding: 15px;
  color: white;
  margin-top: 30px;
}

form {
  border-radius: 15px;
  width: 100%;
  padding: 40px;
  align-items: center;
  box-shadow: none;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin: 14px 0 4px;
  font-weight: bold;
  font-size: 1.2rem;
}

textarea {
  width: calc(100% - 40px);
  margin: 0 20px 20px;
  border: 1.5px solid #e7e7e9;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  box-sizing: border-box;
  height: auto;
  padding: 18px 20px;
  border-radius: 15px;
  margin-top:30px;
  outline: none;
  background-color: #F1F1F1;
  color: #0d0c22;
}

input[type=text] {
  width: calc(100% - 40px);
  margin-left:60px;
  margin: 20px 20px;
  border: 1.5px solid #ffffff;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  box-sizing: border-box;
  height: 56px;
  padding: 20px;
  border-radius: 15px;
  outline: none;
  background-color: #F1F1F1;
  color: #0d0c22;
}

input[type=text]:focus,
textarea:focus {
  border: 0.1px solid #111111;
  box-shadow: #f1f1f1 0px 0px 0px 0.5px;
}

input[type=text]:hover,
textarea:hover {
  box-shadow: #111111 0px 0px 0px 0.5px;
}

/* Home page posts*/
.cardContainer {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  margin-top:80px;
  gap:30px;
}

.card {
  width: 400px;
  height:500px;
  border-radius: 10px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0px 0px 4px #11111144;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-bottom:50px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card h1 {
  font-size: 1.5rem;
  margin: 10px;
}

.card p {
  margin: 10px;
}

.menuButton {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #111111;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: auto;
  align-self: center;
}

/* detail pages */
.postPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 1200px;
  background-color: #FFFFFF;
  border: solid 1px #f1f1f1;
  border-radius: 15px;
  padding: 20px;
}

.postPage h1, p {
  max-width: 1000px;
  word-wrap: break-word;
}

.postPage img {
  max-width: 500px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 1000px;
  margin-top:30px;
}

.icon {
  font-size: 24px;
  margin-right: 8px;
  border: 0.5px solid #111111;
  border-radius: 50%;
  padding: 4px;
}

.icon-2 {
  font-size: 18px;
  margin-right: 8px;
  /* border: 0.5px solid #111111; */
  border-radius: 50%;
  padding: 4px;
}


.icon:hover, .icon-2:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.upvote-count {
  font-size: 18px;
}

.align-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  width: 1200px;
  background-color: #FFFFFF;
  border: solid 1px #f1f1f1;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (max-width: 1200px) {
  .postPage,
  .comments {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .postPage,
  .comments {
    width: 90%;
  }
}

.timeAgo {
  font-size: 16px;
  color: #8b8b8b;
  margin-top: -15px;
  margin-bottom:10px
}

.timeAgo2 {
  font-size: 14px;
  color: #8b8b8b;
  /* margin-bottom:10px */
}

.comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom:-20px;
  width: 1000px;
  /* color: #ffffff; */
}

.comment-update-buttons {
  display: flex;
  gap: 1rem;  
  color: #FFFFFF;
  margin-bottom: 50px;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.comment-icon {
  margin-top: 10px;
  margin-left: 5px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.card-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color:#111111;
}

.card-info h2 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 10px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color:#111111;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeholder-image {
  width: 100%;
  height: 300px;
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.head {
  margin-top: 150px;
  font-size: 4.5rem;

}

.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 1200px;
  font-size:1.5rem;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 110px;
}

.orderBy {
  border:solid 1px #111111;
  background-color: #ffffff;
  border-radius:12px;
  padding:7px;
}

